<% unless comment.id.nil? %>
<div class="comment">
  <div class="comment-body">
    <p><%= raw comment.body%></p>
  </div>
  <div class="comment-foot">
    <div class="comment-name"><%= comment.name %> </div>
    <div class="comment-time">on <%= format_time(comment.created_at)%> </div>
  </div>
</div>
<%end%>
