<% unless comment.id.nil? %>
<div class="comment">
  <div class="comment-body">
    <p><%= raw comment.body%></p>
  </div>
  <div class="comment-foot">
    <div class="comment-name"><%= comment.name %> </div>
    <div class="comment-time">on <%= comment.created_at.strftime('%l.%M %P, %-d %B %Y') %> </div>
  </div>
</div>
<%end%>
