<% unless comment.id.nil? %>


<!-- <p> com[0][0] <span class="green"> com[0][1] </span> com[1][0] <span class = "green"> com[1][1] </span></p> -->
<div class="comment">
  <div class="comment-body">
    <p><%=comment.body.html_safe%></p>
  </div>
  <div class="comment-foot row">
    <div class="comment-name col-2"><%= User.find(comment.user_id)[:name] %> </div>
    <div class="comment-time col-10">on <%= comment.created_at.strftime('%l.%M %P, %-d %B %Y') %> </div>
  </div>
</div>
<%end%>
