$(".todolist").html(  `<% if !@list_todos.empty? %>
    <% @list_todos.each do |todo| %>
  <%= render 'todolist', todo: todo %>
  <% end %>
  <% else %>
  <div class="card posttodo">
  <div class="card-text">
  Nothing
  </div>
  </div>
  <% end %>
    <div class="apple_pagination"><%= will_paginate @list_todos,:page_links => false  %></div>`);
  $('.pagination a').attr('data-remote', 'true')
  if ($(".search").val()){
    $('.up').addClass("invisible");
    $('.down').addClass("invisible");
  }else{
    reset_arrow();
  }
