// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment{
 border-bottom: 1px solid #ccc;
 border-radius: 0px;
 padding-left: 10px;
 margin-bottom: -1px;;
 // background-color: gray;
}
.comment-list{
  background-color: #F4F4F4;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0 10px;
  margin-top: -1px;
}
.comment-body{
  padding: 5px 0px;
  margin-top: 10px;
}
.comment-name{
  max-width: 6%;
  font-weight: bold;
  font-size: 14px;
}

.comment-time{
  color: gray;
  font-size: 14px;
  padding-left: 50px;
}
.comment-foot{
  padding-bottom: 15px;
}
.command-form{
  width: 100%;
  padding: 5px;
}
.green{
  color: green;
}
