// Place all the styles related to the todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// table, th, td {
//   border: 1px solid black;
//   border-collapse: collapse;
// }
//
body {
  background-color: #e8e8e8;
}
.postbody a{
  color: black;
}


.createtodo {
  width: 100%;
  border: 1px solid green;
  margin: 10px 0;
  padding: 5px;
}

.card-text a{
  color: gray
}
.todoform {
  width: 100px;
  border: 1px solid black;
}
.posttodo {
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid gray;
  margin: 40px 0;
}
.arrows{
  color: gray;
  font-size: 24px;
}
.check{
  color: green;
}
.check:hover{
  color: gray;
}
.inactive{
  color: gray;
}
// .uparrow{
//   font-size: 42px;
//   color: gray;
// }
// .downarrow{
//   font-size: 16px;
// }
.postbody{
  // font-weight: bold;
}
.postbuttons{
  float: right;
}
.timestamp {
  font-size: 10px;
  color: #a7a7a7;
}

//ractive inactive radio button

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}
.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e8e8e8;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #f4f4f4;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}


//rounded check_box_tag
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
